---
---
<div id="pJourney" class="pane">
  <div class="tbar" style="margin-bottom:12px">
    <label style="font-size:13px;color:#888">Team:</label>
    <select class="sel" id="journeyTeam" onchange="showJourney()"></select>
  </div>
  <div id="journeyEl"></div>
</div>
