---
---
<div id="modal" class="modal-bg" style="display:none" onclick="if(event.target===this)closeModal()">
  <div class="modal">
    <div class="mhdr">
      <span class="mtit" id="modalTitle"></span>
      <button class="xb" onclick="closeModal()">×</button>
    </div>
    <div class="mbdy" id="modalBody"></div>
  </div>
</div>
