---
---
<div class="nav">
  <button class="nb on" data-i18n="nav.overview" onclick="nav('monte')">Overview</button>
  <button class="nb" data-i18n="nav.groups"   onclick="nav('groups')">Groups</button>
  <button class="nb" data-i18n="nav.journey"  onclick="nav('journey')">Team Journey</button>
  <button class="nb" data-i18n="nav.fixture"  onclick="nav('fixture')">Fixture</button>
  <button class="nb" data-i18n="nav.bracket"  onclick="nav('bracket')">Bracket</button>
  <button class="nb" data-i18n="nav.browser"  onclick="nav('browser')">Sim Browser</button>
  <button class="nb" data-i18n="nav.power"    onclick="nav('power')">Power Table</button>
  <button class="nb" data-i18n="nav.squads"   onclick="nav('squads')">Squads</button>
  <button class="nb" data-i18n="nav.vote"     onclick="nav('vote')">Community Vote</button>
</div>
